.dashboard{
    background-image: url(https://img.freepik.com/free-photo/white-paper-texture-background_23-2151025715.jpg?ga=GA1.2.1709607965.1700568923&semt=ais_ai_generated);
    
}
.batchlist{
    padding-top: 7%;
    padding-bottom: 13.5%;
}
.admdash{
    background-color: rgb(219, 230, 240);
}